body{

    background-color: rgb(173,216,230);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>*{
    margin-left: 20%;
    margin-right: 15%;

}


.carta{
    float:left;
    width: 160px;
    height: 220px;
    border-radius: 10px;
    margin: 1%;
}

.carta:not(:hover){
    background-image: url(../img/pattern.png);
    background-attachment: scroll;
    background-size: contain;
}

.carta:hover{
    background-image: none;
    background-color: white;
    display: inline-block;
}

.carta:not(hover) .contenuto{
    display: none
}

.carta:hover .contenuto{
    float: left;
    display: inline-block;
    color: red;
    text-align: center;
}

.dim-img{
    width: 100%;
    padding-top: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}