body{

    background-color: rgb(173,216,230);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>*{
    margin-left: 20%;
    margin-right: 15%
}


.carta {
    float:left;
    width: 20%;
    height: 250px;
    background-size: contain;
    border-radius: 10px;
    margin: 1%;
}

.carta:not(:hover){
    background-image: url(../img/pattern.png);
}

.carta:hover{
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}